[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = dgoble7451
	email = 140319685+dgoble7451@users.noreply.github.com
